// COLORS
$color_first: #28303B;
$color_second: #E5AA0E;
$color_third:  #B0B4BF;
$color_fourth: white;

// MARGIN - PADDING
$margin_s: 5px;
$margin_m: 10px;
$margin_l: 15px;
$margin_xl: 20px;

// FONTS SIZE
$font_s: 14px;
$font_m: 18px;
$font_ml: 22px;
$font_l: 25px;